*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px red solid;
}

body{
    background-color: aquamarine;
}

.listFormat{
    display: flex;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mylistContainer{
    display: flex;
    width: 90vw;
    background-color: whitesmoke;
    align-self: center;
    justify-content: space-evenly;
}
